// my-layout.jade
doctype html
html
    head
        title 유럽파의 일정만 알고 싶어요~
        block head
    body
        block fb
        #wrap
            header
                block title
            section
                block section
            footer
                block footer
        block script
