// my-layout.jade
doctype html
html
    head
        title URISUNSU
        block head
    body
        block fb
        #wrap
            header
                block title
            section
                block section
            footer
                block footer
        block script
