@import url('/stylesheets/nanumgothic.css');

body, input, textarea, select, button, table{ 
    line-height: 1.25em;
}

body {
    font-size : 0.9em;
    font-family : '나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;
    color : #000;
}

/*body::after {
    content : "";
    background-image: url('/images/soccer-wallpapers-hd.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    opacity : 0.4;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position :absolute;
    z-index:-1;
}
*/

table {
    border-collapse: collapse;
}

header {
    margin : 120px 0;
}
h1.title {
    text-align :center;
    font-size : 3.5em;
    letter-spacing:0.09em;
    color : slategray
}


div#wrap {
    width : 80%;
    height:auto;
    margin :0 auto;
}

section#dateInfo {
    color : darkgray;
}

section#dateInfo div#leagueInfo {
    float : left;
    font-size : 0.75em;
}

section#dateInfo div#nextDate {
    margin-bottom : 10px;
    float : right;
}

section#dateInfo span:nth-of-type(1) {
    color : slategray;
}

.main_table , th , td {
    border : 0px; 
}

.main_table{
    width:100%;
    border-top:2px solid black;
    border-bottom:2px solid black;
    font-size:1em;
    text-align:center
}

.main_table thead th{
    font-size: 1.3em;
    padding : 0.9em 0;
    color : dartgray;
    background-color : #E2E2E2;
}

.main_table tbody td {
    font-size: 1.2em;
    padding : 0.9em 0;
    border-top : 1px solid rgb(202,198,198);
}

.main_table tbody tr:nth-child(even) {
    background : #f6f6f6;
}

caption { 
    display: none;
}

img.logo {
    vertical-align : middle;
    margin-right :3%;
    width :25%;
    height:auto;
}

footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    opacity: 0.9;
}

footer div:first-child {
    text-align :right;
    color : slategray;
    font-size : 0.9em;
    margin-top : 10px;
}

footer div.fb-like {
    padding : 3% 0;
}

div#nonematch {
    color : rgb(190, 186, 186);
    text-align :  center;
    margin : 10% 0%;
    font-size : 2em;
}


@media screen and (max-width:720px) {
    div#wrap {
        width : 90%;
    }

    header {
        margin : 20px 0;
    }

    h1.title {
        font-size : 1.8em;
    }

    .main_table thead th{
        font-size: 1em;
    }

    .main_table tbody td span {
        font-size: 0.70em;
        text-shadow: 0 1px 1px #fff;
    }

    .main_table tbody td:nth-of-type(3) span{
        font-size : 0.75em;
    }

    div#nonematch {
        font-size : 1.2em;
    }

}

